html {
  background: url(media/back.jpg) #000;
  color: #fff;
}

#page_head h1 {
  color: white;
  text-align: center;
  font-family: "Magic School One", sans-serif;
  margin-top: 0;
}

.container {
  display: flex;
}

#header {
  width: 300px;
  margin-top: -20px;
}

#header_container {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

#drawspace {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#drawspace h1 {
  color: white;
  font-family: "Magic School One", sans-serif;
  font-size: 40px;
  margin: 0;
}

.results {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.result {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: beige;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  font-family: "Magic School Two", sans-serif;
  border-radius: 3px;
}

.result img {
  margin-bottom: -20px;
  width: 150px;
}

#ravenclaw {
  background-color: #0e1a40;
  color: white;
}

#gryffindor {
  background-color: #800001;
  color: white;
}

#hufflepuff {
  background-color: #ecb939;
  color: black;
}

#slytherin {
  background-color: #1a472a;
  color: white;
}

button {
  background-color: #555555;
  color: white;
  padding: 0px 32px;
  text-align: center;
  font-size: 2em;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
  font-family: "Magic School One", sans-serif;
}

button:focus {
  border-color: white;
  background: black;
}

#footer {
  font-size: 2em;
  color: #ddd;
  border-top: 2px solid #333;
  font-family: "Magic School Two", sans-serif;
  margin-top: 100px;
  height: 60px;
  background: url(/media/magic.jpg);
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-around;
  text-transform: capitalize;
}

#footer a {
  color: #ddd;
  text-decoration: none;
}

#footer a:hover {
  color: #fff;
  text-decoration: underline;
}

#ir {
  color: #e73536 !important;
}

#skullVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  opacity: 0;

  -webkit-transition: opacity 1.5s ease-in-out;
  -moz-transition: opacity 1.5s ease-in-out;
  transition: opacity 1.5s ease-in-out;  
}